.container {
  width: 282px;
  margin: 0 auto;
}

.categoryWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding-top: 40px;
}

.title {
  font-family: var(--font-main);
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  text-align: center;
  color: #000;
  /* background: none;
  border: none;
  cursor: pointer; */
}

.arrow {
  background: none;
  border: none;
  size: 48px;
  cursor: pointer;
}
