.section {
  border-radius: 20px;
  box-shadow: 5px 10px 20px 0 rgba(170, 178, 197, 0.4);
  background: #fff;
  padding: 25px 15px;
}

.list {
  display: flex;
  gap: 25px;
  align-items: center;
  justify-content: center;
}

.item {
  display: flex;
  flex-direction: column;
}

.category {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 14px;
  text-align: center;
  color: #52555f;
}

.sum {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.04em;
  text-align: center;
}

.income {
  color: #e53935;
}

.expense {
  color: #407946;
}
