.loginSection {
  position: relative;
  margin-top: 3.875rem;
  padding: 0 .625rem;
}

.getMoney {
  position: absolute;
  top: 1.25rem;
  left: 16.1875rem;
}

.heroSec {
  margin: 0 29px;
}

.title {
  font-family: var(--font-family);
  font-weight: 900;
  font-size: 4rem;
  color: #000;
}

.subTitle {
  width: 141px;
  height: 12px;
  margin-left: 1.375rem;
  color: #52555f;
  text-transform: uppercase;
}

.loginSec {
  margin-top: 50px;
  border-radius: 30px;
  width: 300px;
  height: 525px;
  box-shadow: 5px 10px 20px 0 rgba(170, 178, 197, 0.4);
  background: #fff;
}

.googleAuthTitle {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.04em;
  padding-top: 40px;
  text-align: center;
  color: #52555f;
}

.googleAuthButton {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: #000;
  border-radius: 26px;
  width: 122px;
  height: 40px;
  background: #f6f7fb;
  box-shadow: 1px 2px 3px 0 rgba(170, 178, 197, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
  margin: 20px auto 30px auto;
}

.orRegisterTitle {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.04em;
  width: 242px;
  color: #52555f;
  margin: 0 auto 20px auto;
}

.loginForm input {
  border-radius: 30px;
  width: 253px;
  height: 52px;
  background: #f6f7fb;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.04em;
  color: #a6abb9;
  margin-top: 10px;
  padding: 0 20px;
}

.loginForm label {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.04em;
  color: #000;
}

.loginForm div {
  margin: 0 29px;
}

.loginForm div:nth-child(2) {
  margin-top: 30px;
  margin-bottom: 40px;
}

.formActions {
  display: flex;
  column-gap: 15px;
}

.submitBtn {
  border-radius: 16px;
  width: 125px;
  height: 44px;
  background: #ff751d;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  box-shadow: 4px 4px 10px rgba(255, 117, 29, 0.3);
}

.registerBtn {
  border-radius: 16px;
  width: 125px;
  height: 44px;
  background: #f5f6fb;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  text-align: center;
  color: #52555f;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
}

.inflation {
  position: absolute;
  left: 0;
}
